// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: rgb(38, 50, 56);
// $secondary: #26a69a;
// $accent: #9c27b0;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #21ba45;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;

$primary: #0d9488;
$secondary: #16a34a;
$accent: #8b5cf6;

// Dark Theme
$dark: #1e293b;
$dark-page: #0f172a;

// Status Colors
$positive: #22c55e;
$negative: #dc2626;
$info: #0ea5e9;
$warning: #f59e0b;

$record-expense-primary-color: #e0d4d4;
$record-expense-text-color: #851f1f;

$record-income-primary-color: #388036;
$record-income-text-color: #ffffff;
